.cardBox{
  position: relative;
  .imgMask{
    display: flex;
    &::before{
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(32, 33, 35, 0.5);
      z-index: 10;
    }
  }
  .textBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
    text-align: center;
    .title{
      color: $primary;
      font-size: 2.5rem;
    }
    .description{
      font-size: 1.3rem;
      color: $white;
      font-weight: 500;
    }
  }
  &:hover{
    cursor: pointer;
    box-shadow: 0 1px 8px rgb(154 154 154/10%), 0 3px 3px rgb(178 178 178/10%), 0 3px 21px #e8ebfb;
  }
}