.section{
  padding: 32px 0;
  .titleContainer{
    text-align: center;
    .mainTitle{
      font-size: 1.8rem;
      text-transform: uppercase;
      border-bottom: 1px solid $primary;
      margin-bottom: 32px;
      display: inline-block;
    }
  }
  .zoneBox{
    margin-bottom: 24px;
    .headRow{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
    .titleZone{
      color: $primary;
      text-transform: uppercase;
    }
  }
}
