* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $bg_default;
  font-family: $fontFamilyPrimary;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, a, span, table, tr, td, li,  select, .MuiSelect-select {
  font-family: $fontFamilyPrimary;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

figure{
  margin: 0;
  padding: 0;
}

.img-responsive{
  max-width: 100%;
  height: auto;
  display:block;
  margin: 0 auto;
}

button{
  &:hover{
    cursor: pointer;
  }
}

.title-container{
  text-align: center;
  .title{
    color: $secondary;
    display: inline-flex;
    text-transform: uppercase;
    border-bottom: 2px solid $primary;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  &__white{
    .title{
      color: $white;
    }  
  }
  @media only screen and (min-width: $breakpoint_md) {
    .title{
      font-size: 1.8rem;
    }
  }
}

p,li{
  color: $secondary;
}

h2,h3{
  color: $black;
}

.divisor-line{
  border-bottom: 1px solid;
  max-width: 95%;
  margin: 3rem auto 0;
  &--green{
    border-color: $primary;
  }
}

.contact-form{
  fieldset{
    border-color: $white !important;
  }
  
  label{
    color: $white !important;
  }
  
  input{
    color: $white !important;
  }
  
  textarea{
    color: $white !important;
  }
}

.primary-button{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #1976d2;
  font-family: Roboto;
  opacity: 1;
  width: auto;
  height: 40px;
  line-height: 120%;
  text-transform: initial;
  font-size: 0.950rem;
  background-color: #FFFFFF;
  color: #353535;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}